include includes/header

.board
  #connection-status-modal(style="display:none")
    #connection-status

script(type="text/javascript").
  $(function() {
    boardroom.utils.Logger.instance.setLevel('#{loglevel}');

    var boardAttrs = !{JSON.stringify(board)};
    var board = new boardroom.models.Board(boardAttrs);

    boardroom.utils.Logger.instance.setBoard(board);
    new boardroom.Handler(board).initialize();

    var roomView = new boardroom.views.Room({ model: board });
    roomView.render();
  })
