#header
  a.title(href="/")
    span.logo BOARDROOM
  input#name(type="text", value="#{board.name}", placeholder="Boardroom")
  span.info (Double-click below to add a card)
  include includes/user_info

.board
  #connection-status-modal(style="display:none")
    #connection-status

script(type="text/javascript")
  var attributes = !{JSON.stringify(board)};
  var board = new boardroom.models.Board(attributes);
  var roomView = new boardroom.views.Room({ model: board });
  roomView.render();
