#header
  include includes/full_logo
  input#name(type="text", value="#{board.name}", placeholder="Enter Title", autocomplete="off")
  include includes/user_info
    span.copy-url.icon-link(title="Copy URL for this board.") &nbsp;
    span.help(title="Double-click your board to add a note.") ?

.board
  #connection-status-modal(style="display:none")
    #connection-status

script(type="text/javascript")
  var attributes = !{JSON.stringify(board)};
  var board = new boardroom.models.Board(attributes);
  var roomView = new boardroom.views.Room({ model: board });
  roomView.render();

  $(".copy-url").each(function() {
    $(this).zclip({
      path: "/swf/ZeroClipboard.swf",
      copy: window.document.location.href,
      afterCopy: function() {
        return;
      }
    })
  });