include includes/header

.board
  #connection-status-modal(style="display:none")
    #connection-status

script(type="text/javascript")
  $(function() {
    boardroom.utils.Logger.instance.setLevel('#{loglevel}');

    var boardAttrs = !{JSON.stringify(board)};
    var board = new boardroom.models.Board(boardAttrs);

    boardroom.utils.Logger.instance.setBoard(board);

    var userAttrs = !{JSON.stringify(userIdentity)};
    var userIdentity = new boardroom.models.UserIdentity(userAttrs);

    new boardroom.Handler(board, userIdentity).initialize();

    var roomView = new boardroom.views.Room({ model: board });
    roomView.render();
  })
