#header
  include includes/full_logo
  include includes/user_info

#main-content.container
  .row
    .span12
      .row
        .span4
          form#create-board.dark(id='create-board', method='post', action='/boards')
            input#board-name.span4(type='text', name='name', value="#{user.user_id}'s board")
            button(class='btn') create a board
          
          .note
            h2 How to use Boardroom
            ol
              li Create a board.
              li Share your board with anyone, anywhere.
              li Post your thoughts in real-time.
              li Edit and group each other's thoughts.
              li Discuss what you find!   
          
        .board-list.span4
          - if (created.length)
            h4 OWNER
            ul.created
              boards = created
              include includes/board_list
        
        .board-list.span4
          - if (collaborated.length)
            h4 COLLABORATOR
            ul.collaborated
              boards = collaborated
              include includes/board_list

script
  $(".copy-url").each(function() {
    $(this).zclip({
      path: "/swf/ZeroClipboard.swf",
      copy: window.document.location.href + $(this).closest("li").find(".info a").attr("href").slice(1),
      afterCopy: function() {
        return;
      }
    })
  });

  
  

