#header
  include includes/full_logo
  include includes/user_info
#main-content.container
  .row
    #home
      #promotional.span3
        .note
          h2 Let's Reflect Together!
          ol
            li Create or login to board
            li Post your thoughts in real-time
            li Edit and group each other's thoughts
            li Discuss what you find!
        .general
          h3 Why Reflect?
          | Reflection and retrospective meetings allow you to look back
          | at your shared experiences, discover common desires, and apply
          | them to future work.
          h3 How to Reflect?
          | Connect to a board and take turns to post your
          | thoughts. Edit and group similar thoughts together.
      #boards.span8
        form(id='enter-board', method='post', action='/boards')
          fieldset
            input#board-name(type='text', name='name')
            button(class='btn') get a board
        h4 OWNER
        ul.created.span8
          boards = created
          include includes/board_list
        H4 COLLABORATOR
        ul.collaborated.span8
          boards = collaborated
          include includes/board_list

script(type="text/javascript")
  $(function() {
    
    randomizeBackgroundImage();
    addInputActivity();
  });

  function addInputActivity() {

      $('input[type="text"]').focus(function() {
          
          var that = this;
          if(that.value == that.defaultValue) {
              that.value = '';
          } else {
              // chrome fix for .select(), ensure we call after mouseUp event fires
              setTimeout(function() { console.log('here'); that.select(); }, 10);
          }
      });

      $('input[type="text"]').blur(function() {
          console.log(this.defaultValue);
          if(this.value == '') {
              this.value = this.defaultValue;
          }
      });
  }

  function randomizeBackgroundImage() {
      var random = Math.floor(Math.random()*5 + 1);
      var bodyBackgroundClassPrefix = "background_";
      var bodyBackgroundClass = bodyBackgroundClassPrefix + random;

      $("body").removeClass(function(index, cssClass) {
          var matches = cssClass.match(/background_\d/) || [];
          return matches.join(' ');
      }).addClass(bodyBackgroundClass);
  }
