!!! 5
html
  head
    != css('application')
    != css('home')
    != js('application')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700|Inconsolata:400,700', rel='stylesheet', type='text/css')
    title Boardroom - Real-time Reflection and Story Boarding
  body.login.background_1
    #header
      a.name(href="/") Boardroom
    form(action='/login', method='post')
      input#user_id(name='user_id', type='text', value='twitter username or gravatar email', defaultValue='twitter username or gravatar email')
      button Get On Board
      .rule
      p Better than stickies<br/> on a wall

script(type="text/javascript")
     
  $(function() {
    
    randomizeBackgroundImage();
    addInputActivity();
  });

  function addInputActivity() {

      $('input[type="text"]').focus(function() {
          
          var that = this;
          if(that.value == that.defaultValue) {
              that.value = '';
          } else {
              // chrome fix for .select(), ensure we call after mouseUp event fires
              setTimeout(function() { console.log('here'); that.select(); }, 10);
          }
      });

      $('input[type="text"]').blur(function() {
          console.log(this.defaultValue);
          if(this.value == '') {
              this.value = this.defaultValue;
          }
      });
  }

  function randomizeBackgroundImage() {
      var random = Math.floor(Math.random()*5 + 1);
      var bodyBackgroundClassPrefix = "background_";
      var bodyBackgroundClass = bodyBackgroundClassPrefix + random;

      $("body").removeClass(function(index, cssClass) {
          var matches = cssClass.match(/background_\d/) || [];
          return matches.join(' ');
      }).addClass(bodyBackgroundClass);
  }