!!! 5
html
  head
    != css('application')
    != js('application')
    != js('login')
    meta(name="viewport", content="width=device-width initial-scale=1.0")
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700|Inconsolata:400,700', rel='stylesheet', type='text/css')
    title Boardroom - Real-time Reflection and Story Boarding
  
  body#login
    
    include includes/header
    
    form#login.dark(action='/login', method='post')
      input#user_id(name='user_id', type='text', value='twitter username or gravatar email', defaultValue='twitter username or gravatar email')
      button get on board
      .rule
      p Better than stickies<br/> on a wall
