!!! 5
html
  head
    != css('application')
    != js('login')
    meta(name="viewport", content="width=device-width initial-scale=1.0")
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700|Inconsolata:400,700', rel='stylesheet', type='text/css')
    title Boardroom - Real-time Reflection and Story Boarding

  body#login-page
    .container
      h1
        span
          | Welcome to
        | Boardroom

      a.sign-in-with-twitter(href="oauth/twitter")
      a.sign-in-with-facebook(href="oauth/facebook")
      a.sign-in-with-google(href="oauth/google")

      form#login(action='/login', method='post')
        input#user_id(name='user_id', type='text', value='Twitter @username or Gravatar email', defaultValue='Twitter @username or Gravatar email')
        .button-container.inset
          button Get on Board

        hr
        blockquote
          em
            | &ldquo;
          | Better than stickies on a wall.
          em
            | &rdquo;
      a#carbonfive-logo(href="http://www.carbonfive.com", target="_blank")
        | POWERED BY CARBON FIVE
