!!! 5
html
  head
    != css('application')
    != js('login')
    meta(name="viewport", content="width=device-width initial-scale=1.0")
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700|Inconsolata:400,700', rel='stylesheet', type='text/css')
    title Boardroom - Real-time Reflection and Story Boarding

  body#login-page
    .container
      h1
        span
          | Welcome to
        | Boardroom

      #social-login(action='/login', method='post')
        h2 sign in with
        button
          a(href="oauth/twitter")
            i.icon-twitter
            span Twitter
        button
          a(href="oauth/facebook")
            i.icon-facebook
            span Facebook
        button
          a(href="oauth/google") 
            i.icon-google-plus
            span Google+
        hr
        blockquote
          em
            | &ldquo;
          | Better than stickies on a wall.
          em
            | &rdquo;
      a#carbonfive-logo(href="http://www.carbonfive.com", target="_blank")
        | POWERED BY CARBON FIVE
