include ../layout.jade

.navbar.navbar-fixed-top
  #board-nav.navbar-inner
    - if (typeof(user) !== 'undefined')
      a.btn.btn-navbar(data-toggle='collapse', data-target='.navbar-responsive-collapse')
        span.icon-bar
        span.icon-bar
    .title
      a.room-logo(href="/") BOARDROOM
      - if (typeof(board) !== 'undefined')
        input#name(type="text", value="#{board.name}", placeholder="Enter Title", autocomplete="off")
        span.icon-edit

    - if (typeof(user) !== 'undefined')
      #user-info.nav-collapse.collapse.navbar-responsive-collapse
        ul.nav
          - if (typeof(board) !== 'undefined')
            li
              span.copy-url
                span.icon-link
                span.tooltip Copy URL for this board.
            li
              span.help.icon-info
                span.tooltip 
                  | Invite others to participate by copying the url or clicking on the link icon to the right.
                  br
                  br
                  | Double-click your board to add a note.
                  br
                  br
                  |Drag notes onto one another to create a group.
          - if (typeof(user) !== 'undefined')
            li
              div.user-id
                img.avatar(src=user.avatar(), title=user.alias())
                span #{user.user_id}
            li
              .logout
                a(href='/logout') logout
