#header
  a.title(href="/")
    span.logo Bo
  button.create Add a Thought
  input#title(type="text")
  include includes/user_info

.board

!= js("lib")
!= js("boardroom")
!= js("views/app")

script(type="text/javascript")
  var board = !{boardAsJson};
  var appView = new boardroom.views.App({ board: board });
  appView.render();

