.note {
  ol {
    margin: 0 0 5px 18px;
  }
}


form#create-board {
  margin-top: 39px;
  margin-bottom: 16px;
  
  input[type="text"] {
    width: 95%;
  }
}

.board-list {
  a { text-decoration: none;}
  
  h4 {
    border-bottom: 3px solid @grayDark;
    line-height: 28px;
    margin-bottom: 28px;
  }
  
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  }

  ul {
    .border-radius(5px);
    margin: 0 auto 2em auto;
    padding-right: 10px;
    list-style-type: none;
    overflow-y:auto;
    color: #000;
    width: 100%;

    li {
      position: relative;
      height: 100px;
      margin-bottom: 30px;
      overflow: hidden;
      .box-shadow(2px 2px 6px fade(@grayDark, 25%));
      .transition-colors();
      background-color: fade(@offWhite, 75%);
      &:hover {
        background-color: @grayMid;
      }

      .note-count {
        float: left;
        position: relative;
        height: 100%;
        background-color: @grayLight;
        padding: 0 10px;
        margin-right: 10px;
        .counts {
          position:relative;
          top:50%;
          height: 90px;
          margin-top:-45px;
        }
        i,.count {
          line-height: 46px;
          font-size: 20px;
          padding-left: 3px;
        }
        .notes { border-bottom: 1px solid @grayDark;}
      }

      a {
        color: #000;
        :active, :hover {
          text-decoration: none;
        }
      }

      .info {
        margin-top: 10px;
        overflow: hidden;
        position: relative;
        width: 75%;
        height: 95%;
        
        img.creator {
          display: inline;
          float: left;
          margin-right: 5px;
        }
      
        .title {
          float: left;
          width: 90%;
          height: 65%;
          font-size: 16px;
          line-height: 18px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        
        .date {
          float:left;
          position: absolute;
          top: 50px;
          font-size: 11px;
          line-height: 14px;
          font-style: italic;

          p {
            margin: 2px 0;
          }
        }

      }
      
      
      
      .actions {
        position: absolute;
        top: 0px;
        right: -1px;
        cursor: pointer;
        background-color: @grayLight;
        > * {
          margin: 0;
        }
        
        .delete-btn {
          border: none;
          .border-radius(0);
          .box-shadow(0 0 0 0 transparent);
        }
      }

      .activity {
        padding-top: 0.5em;
        img {
          width: 20px;
          margin-right: 7px;
          border: 1px solid white;
        }
      }
    }
  }
}
