#header {
  text-align: right;
  color: @grayLight;
  border-bottom: 3px solid @blueLight;
  .title {
    color: @yellowLight;
    text-decoration: none;
    margin: 0 20px;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
  }
}

section {
  border-bottom: 2px solid @blueLight;
  margin-bottom: 15px;
  position: relative;
}

ul {
  list-style-type: none;
}