html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  margin: 0;
  padding: none;
  min-height: 800px;
}


#main-content {
  margin-top: 63px;
}

section {
  border-bottom: 2px solid @blueLight;
  margin-bottom: 15px;
  position: relative;
}

ul {
  list-style-type: none;
}

img.avatar {
  width: 20px;
  height: 20px;
  border: 1px solid white;
}

.board {
  margin-top: 60px;
  position: relative;
  height: 100%;
  padding: 20px 0;
  .user-select-text-off();

  &.stackable {
  }
}

#connection-status-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10000;

  #connection-status {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    margin-left: -60px;
    margin-top: -9px;
    height: 100%;
    text-align: center;
    color: #D43D1A;
    font-weight: bold;
    font-size: 18px;
  }
}

// RESPONSIVE HEADER STYLING w Bootstrap overrides
// -----------------------------------------------

@media (max-width: @navbarCollapseWidth) {
   #board-nav {
    margin-top: 28px;
  }
}
