//@import "variables.less"; // Modify this for custom colors, font-sizes, etc

body.login {
  background-repeat: no-repeat;
  background-position: 0 0;

  &.background_1 {
    background-image: url('/images/bg_1.jpg');
  }

  &.background_2 {
    background-image: url('/images/bg_2.jpg');
  }

  &.background_3 {
    background-image: url('/images/bg_3.jpg');
  }

  &.background_4 {
    background-image: url('/images/bg_4.jpg');
  }

  &.background_5 {
    background-image: url('/images/bg_5.jpg');
  }
}

#header {
  border-bottom: 1px solid @offWhite;
}

form#login {
  width: 330px;
  margin: 177px auto;
  
  .rule {
    width: 50px;
    border-bottom: 2px solid @yellowMid;
    margin: 25px auto 0 auto;
  }
}






